/* Ensure the container uses the full viewport height and handles overflow */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative; /* Added to make sure absolute positioning works inside it */
}

/* Position the progress bar at the top of the viewport */
.progressContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 10px;
  width: 100%;
  height: 10px;
  /* background-color: #eee; */
  z-index: 10; /* Ensure the progress bar is above other content */
}

/* Style for individual progress dots */
.progressDot {
  height: 8px;
  border-radius: 4px;
  margin: 0 2px;
  background-color: #ccc; /* Default background color for inactive dots */
  transition: background-color 0.3s ease;
}

/* Adjust margin to prevent story content from being hidden behind the progress bar */
.mainStory {
  flex: 1;
  overflow: hidden;
  position: relative; /* Ensure child elements are positioned relative to this */
}

/* Make sure the Swiper takes up the full size of its container */
.mainSwiper {
  width: 100%;
  height: 100%;
}

/* Style for each story slide */
.storyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative; /* Make sure absolutely positioned elements are placed correctly */
}

/* Ensure the image covers the entire slide */
.storyImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Covers the container while maintaining aspect ratio */
}

/* Style for the story details overlay */
.storyDetails {
  position: absolute;
  bottom: 10%;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  padding: 10px;
  border-radius: 5px;
  width: 80%; /* Centered and responsive width */
}

/* Style for the close button */
.closeButton {
  position: absolute;
  top: 5px; /* Distance from the top edge of the container */
  right: 10px; /* Distance from the right edge of the container */
  color: #fff;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 20; /* Ensure the button is above other content */
}

.profileImg{
  position: absolute;
  top: 10px; /* Distance from the top edge of the container */
  left: 10px; /* Distance from the right edge of the container */
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 20; /* Ensure the button is above other content */
}