.container {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
  background-color: #f4f4f4;
  white-space: nowrap;
}

.storyItem {
  flex: 0 0 auto;
  margin-right: 10px;
  cursor: pointer;
}

.storyImage {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}