.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.progressContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 10px;
  width: 100%;
  height: 10px;
  z-index: 10;
}

.progressDot {
  height: 8px;
  border-radius: 4px;
  margin: 0 2px;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.mainStory {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.mainSwiper {
  width: 100%;
  height: 100%;
}

.storyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.storyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.storyDetails {
  position: absolute;
  bottom: 10%;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: 10px;
  color: #fff;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 20;
}

.profileImg{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 20;
}

.profileDes{
  position: absolute;
  top: 10px;
  left: 30px;
  color: #fff;
  padding: 10px;
  z-index: 20;
  margin-left: 20px;
  font-size: small;
}